<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<header th:fragment="head" style="height: 60px; display: flex; flex-direction: row">
  <div style="display: flex; justify-content: center">
    <div style="width: 40px; height: 40px; background-color: blue"></div>
  </div>
  <div style="width: 800px; display: flex; padding-left: 200px">
    <a th:href="@{/}" style="text-decoration: none; color: black">PODLIKE</a>
  </div>
  <a th:href="@{/signin}">
    <div style="width: 40px; height: 40px; background-color: blue"></div>
  </a>

</header>

</body>
</html>