<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Podlike</title>
  <style>
    .podcast {
      width: 100px;
      height: 100px;
      background-color: cadetblue;
    }
  </style>
</head>
<body>
<div th:replace="fragments.html :: head"></div>
<div class="podcasts">
<h3>Listen to our great selection of podcasts</h3>
<div th:each = "podcast : ${podcasts}">
  <a th:href="@{/podcast/{id}(id=${podcast.podcast_id})}">
    <div class="podcast"></div>
  </a>
  <h3 th:text= "${podcast.title}">Title</h3>
  <p>description</p>
</div>
</div>
</body>
</html>